<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/menustyle.css}">
</head>

<body class="image-container" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV4HUPTttE7ZgK6qfjeMPcEuwBhLFPKEhWrg&s');">
    <header>
        <div class="logo" style="width: 5px; height: 20px; margin-left: 20px;">
            <img th:src="@{/menu-images/logo.png}" th:alt="${logo}">
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/}" style="color: black;">Home</a></li>
                <li><a th:href="@{/menu}" style="color: black;">Menu</a></li>
                <li><a th:href="@{/reservations}" style="color: black;">Reservations</a></li>
                <li><a th:href="@{/contact}" style="color: black;">Contact</a></li>
                <li class="icon-container"><a href="https://www.facebook.com" target="_blank">
                    <img src="/menu-images/facebook.png" alt="Facebook" width="40" height="40">
                </a></li>
                <li class="icon-container"><a href="https://www.instagram.com" target="_blank">
                    <img src="/menu-images/instagram.png" alt="Instagram" width="40" height="30">
                </a></li>
            </ul>
        </nav>
    </header>

    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Sidebar Categories -->
            <div class="col-md-2">
                <div class="menu-sidebar">
                    <h5 style="color: black;">Categories</h5>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#BreakFast">BreakFast Menu</a></li>
                        <li class="list-group-item"><a href="#Lunch">Lunch Menu</a></li>
                        <li class="list-group-item"><a href="#Dinner">Dinner Menu</a></li>
                        <li class="list-group-item"><a href="#Wine">Wine List</a></li>
                        <li class="list-group-item"><a href="#Beverages">Beverages List</a></li>
                    </ul>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-10">
                <!-- Breakfast Menu -->
                <div id="BreakFast">
                    <h4 style="color: black;">BreakFast Menu</h4>
                    <div class="row" th:each="dish : ${dishes}">
                        <div class="col-md-9 mb-4" th:if="${dish.category} == 'BreakFast Menu'">
                            <div class="card menu-card">
                                <div class="card-body">
                              
                                    <h5 class="card-title" th:text="${dish.name}" style="font-size: 25px;"></h5>
                                    <p class="card-text" th:text="${dish.description}"></p>
                                    <p class="price" th:text="'$' + ${dish.price}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Lunch Menu -->
                <div id="Lunch">
                    <h4 style="color: black;">Lunch Menu</h4>
                    <div class="row" th:each="dish : ${dishes}">
                        <div class="col-md-9 mb-4" th:if="${dish.category} == 'Lunch Menu'">
                            <div class="card menu-card">
                                <div class="card-body">
                            
                                    <h5 class="card-title" th:text="${dish.name}" style="font-size: 25px;"></h5>
                                    <p class="card-text" th:text="${dish.description}"></p>
                                    <p class="price" th:text="'$' + ${dish.price}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Dinner Menu -->
                <div id="Dinner">
                    <h4 style="color: black;">Dinner Menu</h4>
                    <div class="row" th:each="dish : ${dishes}">
                        <div class="col-md-9 mb-4" th:if="${dish.category} == 'Dinner Menu'">
                            <div class="card menu-card">
                                <div class="card-body">
                            
                                    <h5 class="card-title" th:text="${dish.name}" style="font-size: 25px;"></h5>
                                    <p class="card-text" th:text="${dish.description}"></p>
                                    <p class="price" th:text="'$' + ${dish.price}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Wine List -->
                <div id="Wine">
                    <h4 style="color: black;">Wine List</h4>
                    <div class="row" th:each="dish : ${dishes}">
                        <div class="col-md-9 mb-4" th:if="${dish.category} == 'Wine List'">
                            <div class="card menu-card">
                                <div class="card-body">
                               
                                    <h5 class="card-title" th:text="${dish.name}" style="font-size: 25px;"></h5>
                                    <p class="card-text" th:text="${dish.description}"></p>
                                    <p class="price" th:text="'$' + ${dish.price}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Beverages List -->
                <div id="Beverages">
                    <h4 style="color: black;">Beverages List</h4>
                    <div class="row" th:each="dish : ${dishes}">
                        <div class="col-md-9 mb-4" th:if="${dish.category} == 'Beverages List'">
                            <div class="card menu-card">
                                <div class="card-body">
                            
                                    <h5 class="card-title" th:text="${dish.name}" style="font-size: 25px;"></h5>
                                    <p class="card-text" th:text="${dish.description}"></p>
                                    <p class="price" th:text="'$' + ${dish.price}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>
